@model IEnumerable<VendaDefinitiva.Models.Produto>


@{
    ViewData["Title"] = "Produtos";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeProduto)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.UnidadeProduto)
            </th>
            <th></th>
           
        </tr>

    </thead>
    <tbody>
        @foreach(var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model=>item.NomeProduto)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.UnidadeProduto)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                    </td>

                </tr>
            }
    </tbody>
</table>




<p>Página de Produtos</p>