@model IEnumerable<VendaDefinitiva.Models.Produto>

@{
    ViewData["Title"] = "Produtos";
}

<h2>Produtos</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeProduto)
            </th>
            <th></th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UnidadeProduto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeProduto)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdProduto">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdProduto">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdProduto">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>